/.claude
/CLAUDE.md

/.env
/.conf
/vendor
/composer.lock

/library/cache
/library/certificate/*
!/library/certificate/base.crt

/class/Controller/*
!/class/Controller/MxServer

/system/router/*
!/system/router/MxServer.php

/class/Model
/library/sqlite
/system/datalayer

