/.env
/.conf
/vendor
/composer.lock

/class/Model/*

/library/cache
/library/cacheTime
/library/certificate/*
!/library/certificate/base.crt
/library/tmp

/library/sqlite

/system/datalayer/*

/.claude
/CLAUDE.md