/.claude
/CLAUDE.md

/.env
/.conf
/vendor
/composer.lock

/library/cache
/library/certificate/*
!/library/certificate/base.crt

/source/Controller/*
!/source/Controller/MxServer

/system/router/*
!/system/router/MxServer.php

/class/Model
/sqlite/sqlite
/system/datalayer

